{% extends "admin/base_site.html" %}
{% load i18n %}

{% block content %}
  <h1>{{ title }}</h1>

  <p>Na pewno chcesz zmienić kategorię pomieszczenia dla poniższych kart na: <strong>{{ target_label }}</strong>?</p>

  <form method="post">{% csrf_token %}
      {# Przekazujemy dalej zaznaczone obiekty #}
      {% for obj in queryset %}
          <input type="hidden" name="_selected_action" value="{{ obj.pk }}">
      {% endfor %}

      {# Nazwa akcji #}
      <input type="hidden" name="action" value="{{ action_name }}">

      {# Flaga potwierdzenia #}
      <input type="hidden" name="confirm" value="yes">

      <div class="module">
          <h2>Wybrane karty sprzętu</h2>
          <ul>
              {% for obj in queryset %}
                  <li>{{ obj }}</li>
              {% endfor %}
          </ul>
      </div>

      <div style="margin-top: 15px;">
          <input type="submit" value="{% trans 'Yes, I am sure' %}" class="default">
          <a href="..">{% trans "Cancel" %}</a>
      </div>
  </form>
{% endblock %}