{% extends "sprzet/base.html" %}
{% block content %}

<div class="ui-panel panel eq-form">
  <div class="panel-header">
    <h1 class="panel-title">
      Edytuj kartę – {{ equipment.inventory_number }}
    </h1>
    <p class="panel-subtitle">
      Zmiany zapiszą się po kliknięciu „Zapisz zmiany”.
    </p>
  </div>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.as_p }}

    <div class="ui-actions" style="margin-top:16px;">
      <button type="submit" class="ui-btn ui-btn-primary">
        Zapisz zmiany
      </button>

      <a href="{% url 'equipment:equipment_detail' equipment.pk %}"
         class="ui-btn ui-btn-secondary">
        Anuluj
      </a>
    </div>
  </form>
</div>

{% endblock %}